body {
  /*background image is centered horizontally and verically at all times */
   background-position: center center;
  /*background image doesnt tile */
   background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
   the content's height is greater than the image's height */
   background-attachment: fixed;
  /* This is what makes the background image rescale based
 on the container's size */
   background-size: cover;
 /* Set a background color that will be displayed
   while the background image is loading */
   background-color: #28aaaa;
 }
 .jumbotron {
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
   border: 1px solid #ffffff;
 }
